.box_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .box_title{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box_autocomplete{
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 20px;
    }

    .box_inputs{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .box_textArea{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .textArea{
            width: 100%;
        }
    }


  }

