.box_main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.box_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box_inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
